body {
  background-color: #262626;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  width: 99vw;
  height: 100vh;
}

#root {
  width: inherit;
  height: inherit;
}

/* Scrollbar Design*/

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #595958;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6b6b6a;
}

/* Initiator Screen */

.initiator {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 100;
  text-align: center;
  color: white;
}

.branding {
  font-weight: 900;
  font-size: 3rem;
  /* font-family: "Poppins", sans-serif; */
  font-family: "Playfair Display SC", serif;
  letter-spacing: 0.1rem;
}

.description {
  color: #818281;
  font-size: 1rem;
}

.url {
  margin: 2% auto 0;
  background-color: #393e46;
  border-radius: 4px;
  padding: 0.2% 1.5%;
}

.url input {
  background: transparent;
  width: 75%;
  border: none;
  color: white;
  margin-right: 4%;
}

/* .btn {
  background: linear-gradient(
    135deg,
    #9837ed,
    #dd79e8,
    #f2d3ea,
    #91e3fa,
    #baffcf
  );
} */

.waiting {
  margin: 2% auto 2%;
  height: 1rem;
}

.socials {
  display: flex;
  justify-content: space-evenly;
  margin: 2% auto 4%;
}

.socials a {
  margin: 5% 10%;
}

.social-icon {
  color: #818281;
}

.social-icon:hover {
  transition: 0.2s ease;
}

.fa-twitter:hover {
  color: #49d3f2;
}

.fa-linkedin-in:hover {
  color: #0c9af2;
}
.fa-envelope:hover {
  color: white;
}
.fa-discord:hover {
  color: #df54f7;
}

.copyright {
  font-size: 0.8rem;
  color: #818281;
  margin-bottom: 2%;
}

/* Game UI */

.game-ui {
  height: 100%;
  width: 100%;
}

.board {
  margin: auto;
}

.board h1 {
  font-size: 2rem;
  /* font-family: "Poppins", sans-serif; */
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  letter-spacing: 2px;
  padding-bottom: 5%;
  color: white;
  text-shadow: 2px 2px 10px black;
}

.chat-section {
  margin: auto;
}

.chat-content {
  background-color: #363636;
  background-image: url("https://www.transparenttextures.com/patterns/xv.png");
  box-shadow: 0px 5px 15px black;
  border-radius: 10px;
  text-align: center;
  padding: 4% 0;
}

.video-chat {
  padding-bottom: 2%;
}

.video {
  background-color: #000000;
  width: 20vw;
  box-shadow: 0px 5px 15px black;
  margin: 4%;
  border-radius: 5px;
}

.player {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 1rem;
  margin: 0%;
  text-shadow: 2px 2px 2px black;
}

.chat-controls {
  padding: 2%;
}

.control-icon {
  color: white;
  border-radius: 50%;
}

/* Room Full Page */

.room-full {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color: white;
  letter-spacing: 2px;
}

.room-full p {
  margin: 0 0 50px;
}

.animation {
  width: 300px;
}

/* Modals */

.modal-style {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 15px black;
  background-color: #2a2b2b;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: white;
  border-radius: 5px;
}

@media (max-width: 1188px) {
  .board h1 {
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
    padding-bottom: 5%;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 10px black;
  }
}
